<%
    if session[:username]!="admin"
        controller.redirect_to welcome_index_url
    end
%>
<% if flash.each.any? %>
    <div class="btn btn-danger w-100 my-2">
        <% flash.each do |message_type, message| %>
            <div class=" alert-<%= message_type %>"><%= message %></div>
        <% end %>
    </div>
<% end %>

<div class="d-flex justify-content-between py-3">
    <div>
        <h3 class="text-uppercase font-weight-bolder">All Users</h3>
    </div>
    <div>
        <%= link_to new_user_url, {:class => "navicon-content"} do %>
            <div class="btn btn-secondary">
                <i class="fa fa-plus mr-1"></i>New
            </div>
        <% end %>
    </div>
</div>
<table id="users-data" class="table table-striped mb-4">
    <thead>
    <tr class="text-center">
        <th scope="col">User ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr class="text-center">
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.password %></td>
            <td>
                <button id="edit-user" class="btn btn-primary edit-users" data-id="<%= user.id %>" data-username="<%= user.username %>" data-password="<%= user.password %>" style="width: 4.5em;">Edit</button>
                <% if user.username != "admin" %>
                    <%= link_to 'Delete', user_path(user),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-danger',
                                style: 'width: 4.5em'
                    %>
                <% end %>
            </td>

        </tr>
    <% end %>
    </tbody>
</table>

<div class="grey-screen"></div>
<div id="edit-user-popup" class="edit-popup">
    <div id="edit-users-close" class="float-right close-button"><i class="fa fa-times"></i></div>
    <div class="p-4">
        <form action="/users/save_user_details" method="get">
            <input type="hidden" id="edit-user-id" name="id"><br>
            Username:<input type="text" id="edit-user-name" name="username" class="ml-2 mb-2"><br>
            Password:<input type="text" id='edit-user-pw' name="password" class="ml-2">
            <button id="edit-user-save" type="submit" class="btn btn-primary mt-4 float-right">Save</button>
        </form>
    </div>
</div>