<%
    if session[:username]!="admin"
        controller.redirect_to welcome_index_url
    end
%>
<div class="d-flex justify-content-between py-3">
    <div>
        <h3 class="text-uppercase font-weight-bolder">All Users</h3>
    </div>
    <div>
        <%= link_to new_user_url, {:class => "navicon-content"} do %>
            <div class="btn btn-secondary">
                <i class="fa fa-plus mr-1"></i>New
            </div>
        <% end %>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr class="text-center">
        <th scope="col">User ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr class="text-center">
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.password %></td>
            <td>
                <% if user.username != "admin" %>
                    <%= link_to 'Delete', user_path(user),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
                <% end %>
            </td>

        </tr>
    <% end %>
    </tbody>
</table>