<%
    if !session[:username]
        controller.redirect_to root_url
    end
%>
<% if flash.each.any? %>
    <div class="btn btn-danger w-100 my-2">
        <% flash.each do |message_type, message| %>
            <div class=" alert-<%= message_type %>"><%= message %></div>
        <% end %>
    </div>
<% end %>

<div class="d-flex justify-content-between py-3">
    <div>
        <h3 class="text-uppercase font-weight-bolder">All Bookings</h3>
    </div>
    <div>
        <%= link_to new_booking_url, {:class => "navicon-content"} do %>
            <div class="btn btn-secondary">
                <i class="fa fa-plus mr-1"></i>New
            </div>
        <% end %>
    </div>
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr class="text-center text-bold text-upper bg-success text-white"><th colspan="10">Upcoming</th></tr>
        <tr class="text-center">
            <% if session[:username]=="admin" %>
                <th scope="col">Booking ID</th>
                <th scope="col">User</th>
            <% end %>
            <th scope="col">Room</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% if !@bookings or @bookings.where(["date >= ?", DateTime.now]).empty? %>
            <tr>
                <td colspan="8" class="text-center">
                    No Current Bookings.
                </td>
            </tr>
        <% else %>
            <% @bookings.where(["date >= ?", DateTime.now]).each do |booking| %>
                <tr class="text-center">
                    <% if session[:username]=="admin" %>
                        <td class="align-middle text-center"><%= booking.id %></td>
                        <td class="align-middle text-center"><%= booking.username %></td>
                    <% end %>
                    <td class="align-middle text-center"><%= booking.roomname %></td>
                    <td class="align-middle text-center"><%= booking.date.to_date %></td>
                    <td class="align-middle text-center"><%= booking.startTime %></td>
                    <td class="align-middle text-center"><%= booking.endTime %></td>
                    <% if session[:username]=="admin" %>
                        <td class="align-middle text-center text-capitalized">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-capitalize" style="width: 8em;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <% if booking.status.downcase == 'confirmed' or booking.status.downcase == 'rejected' or booking.status.downcase == 'pending' %>
                                    <%= booking.status %>
                                <% end %>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% if booking.status.downcase != 'confirmed' %>
                                    <a class="dropdown-item text-capitalize" href="bookings/editstatus/<%= booking.id %>/Confirmed">Confirmed</a>
                                <% end %>
                                <% if booking.status.downcase != 'pending' %>
                                    <a class="dropdown-item text-capitalize" href="bookings/editstatus/<%= booking.id %>/Pending">Pending</a>
                                <% end %>
                                <% if booking.status.downcase != 'rejected' %>
                                    <a class="dropdown-item text-capitalize" href="bookings/editstatus/<%= booking.id %>/Rejected">Rejected</a>
                                <% end %>
                            </div>
                        </div>
                    </td>
                    <% else %>
                        <td class="align-middle text-center"><%= booking.status %></td>
                    <% end %>
                    <td class="align-middle text-center">
                        <%= link_to 'Delete', booking_path(booking),
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn btn-danger',
                            style: 'width: 4.5em'
                        %>
                    </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>

    <table class="table table-striped mt-4">
        <thead>
        <tr class="text-center text-bold text-upper bg-danger text-white"><th colspan="10">Past Bookings</th></tr>
        <tr class="text-center">
            <% if session[:username]=="admin" %>
                <th scope="col">Booking ID</th>
                <th scope="col">User</th>
            <% end %>
            <th scope="col">Room</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Status</th>
            <% if session[:username]=="admin" %>
                <th scope="col"></th>
            <% end %>
        </tr>
        </thead>
        <tbody>
        <% if !@bookings or @bookings.where(["date < ?", DateTime.now]).empty? %>
            <tr>
                <td colspan="8" class="text-center">
                    No Past Bookings.
                </td>
            </tr>
        <% else %>
            <% @bookings.where(["date < ?", DateTime.now]).each do |booking| %>
                <tr class="text-center">
                    <% if session[:username]=="admin" %>
                        <td class="align-middle text-center"><%= booking.id %></td>
                        <td class="align-middle text-center"><%= booking.username %></td>
                    <% end %>
                    <td class="align-middle text-center"><%= booking.roomname %></td>
                    <td class="align-middle text-center"><%= booking.date.to_date %></td>
                    <td class="align-middle text-center"><%= booking.startTime %></td>
                    <td class="align-middle text-center"><%= booking.endTime %></td>
                    <% if session[:username]=="admin" %>
                        <td class="align-middle text-center">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle text-capitalize" style="width: 8em;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <% if booking.status.downcase == 'confirmed' or booking.status.downcase == 'rejected' or booking.status.downcase == 'pending' %>
                                        <%= booking.status %>
                                    <% end %>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <% if booking.status.downcase != 'confirmed' %>
                                        <a class="dropdown-item text-capitalize" href="bookings/editstatus/<%= booking.id %>/Confirmed">Confirmed</a>
                                    <% end %>
                                    <% if booking.status.downcase != 'pending' %>
                                        <a class="dropdown-item text-capitalize" href="bookings/editstatus/<%= booking.id %>/Pending">Pending</a>
                                    <% end %>
                                    <% if booking.status.downcase != 'rejected' %>
                                        <a class="dropdown-item text-capitalize" href="bookings/editstatus/<%= booking.id %>/Rejected">Rejected</a>
                                    <% end %>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <%= link_to 'Delete', booking_path(booking),
                                        method: :delete,
                                        data: { confirm: 'Booking is a past record. Are you sure you want to delete?' },
                                        class: 'btn btn-danger',
                                        style: 'width: 4.5em'
                            %>
                        </td>
                    <% else %>
                        <td class="align-middle text-center">
                            <%= booking.status %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>
