<h1>New Booking</h1>
<%= form_with scope: :booking, url: bookings_path, local: true do |form| %>

  <p>
    <%= form.label :"User ID" %><br>
    <%= form.text_field :userid %>
  </p>

  <p>
    <%= form.label :"Room ID" %><br>
    <%= form.text_field :roomid %>
  </p>

  <p>
    <%= form.label :Date %><br>
    <%= form.date_select :date %>
  </p>

  <p>
    <%= form.label :"Start Time" %><br>
    <%= form.text_field :startTime %>
  </p>

  <p>
    <%= form.label :"End Time" %><br>
    <%= form.text_field :endTime %>
  </p>

  <p>
    <%= form.label :Status %><br>
    <%= form.text_field :status %>
    </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>