<%
    if !session[:username]
        controller.redirect_to root_url
    elsif session[:username]!="admin"
        controller.redirect_to bookings_url
    end
%>

<div class="d-flex justify-content-between pt-3">
    <div>
        <h3 class="text-uppercase font-weight-bolder">All Rooms</h3>
    </div>
    <div>
        <%= link_to new_room_url, {:class => "navicon-content"} do %>
            <div class="btn btn-secondary">
                <i class="fa fa-plus mr-1"></i>New
            </div>
        <% end %>
    </div>
</div>
<hr>
<div>
    <table id="rooms-data" class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="align-middle text-center" style="width: 10%">ID</th>
            <th scope="col" class="align-middle text-center" style="width: 10%">Name</th>
            <th scope="col" class="align-middle text-center" style="width: 70%" colspan="2" class="text-center">Description</th>
            <th scope="col" class="align-middle text-center" style="width: 5%"></th>
        </tr>
        </thead>
        <% @rooms.each do |room| %>
            <tr>
                <td scope="row" class="align-middle text-center"><%= room.id %></td>
                <td class="align-middle text-center"><%= room.name %>

                <% if File.file?"#{Rails.public_path}/images/rooms_"+room.id.to_s+".jpg" or File.file?"#{Rails.public_path}/images/rooms_"+room.id.to_s+".jpeg" or File.file?"#{Rails.public_path}/images/rooms_"+room.id.to_s+".png" %>
                    <td class="align-middle text-center" style="width:25%">
                        <% if File.file?"#{Rails.public_path}/images/rooms_"+room.id.to_s+".jpg" %>
                            <%= image_tag ("/images/rooms_"+room.id.to_s+".jpg"), style:"width: 280px", class: "img-responsive" %>
                        <% elsif File.file?"#{Rails.public_path}/images/rooms_"+room.id.to_s+".png" %>
                            <%= image_tag ("/images/rooms_"+room.id.to_s+".png"), style:"width: 280px", class: "img-responsive" %>
                        <% elsif File.file?"#{Rails.public_path}/images/rooms_"+room.id.to_s+".jpeg" %>
                            <%= image_tag ("/images/rooms_"+room.id.to_s+".jpeg"), style:"width: 280px", class: "img-responsive" %>
                        <% end %>
<!--                        <a class="small text-center">Change Image</a>-->
                    </td>
                <% else %>
                    <td class="align-middle text-center">No Image Available</td>
                <% end %>

                <td class="align-middle" style="width:35%"><%= room.description %></td>
                <td class="align-middle">
                    <button id="edit-room" class="btn btn-primary mb-1 edit-rooms" data-id="<%= room.id %>" data-name="<%= room.name %>" data-description="<%= room.description %>" style="width: 4.5em;">Edit</button>
                    <%= link_to 'Delete', room_path(room),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-danger',
                                style: 'width: 4.5em'
                    %>
                </td>
            </tr>
        <% end %>
    </table>
</div>

<div class="grey-screen"></div>
<div class="edit-room-popup">
    <div id="edit-rooms-close" class="float-right close-button"><i class="fa fa-times"></i></div>
    <div class="p-4">
        <form action="/rooms/save_details" method="get">
            <input type="hidden" id="edit-room-id" name="id"><br>
            Room Name:  <input type="text" id="edit-room-name" name="name" class="mb-2"><br>
            Description:<textarea id='edit-room-desc' name="desc" style='width: 90%; height: 8em; resize: none; float: bottom'></textarea>
            <button id="edit-room-save" type="submit" class="btn btn-primary mt-4 float-right">Save</button>
        </form>
    </div>
</div>